extends ../layout

block content
    h1 ADD COURSE
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") course id
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") course duration(HRS)
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") course fee(USD)
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        